<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erro 404 - Página não encontrada</title>
</head>
<body>
        <h1>Oops! Página não encontrada.</h1>
        <hr>
        <p>Lamentamos, mas a página que você está procurando não foi encontrada no servidor. Isso pode ter ocorrido por vários motivos, como um link quebrado, uma URL digitada incorretamente ou uma página que foi movida ou removida.</p>
        <hr>
        <p>Por favor, verifique a URL digitada para se certificar de que está correta. Se você chegou a esta página clicando em um link, por favor, entre em contato conosco para que possamos corrigir o problema.</p>
        <hr>
        <a href="/" class="home-link">Voltar à Página Inicial</a>
        <br>
        <a href="/" class="home-link">Entrar em contato conosco</a>
</body>
</html>